Repository banteg/coda, changes with the owners that CODEOWNERS names for each.
All owners: @imeckler, @bkase, @schmavery, @figitaki, @jkrauska, @es92, @rbkhmrcr, @nholland94, @cmr, @o1pranay, @enolan, @johnwu93, @psteckler, @vanishreerao, @mrmr1993, @deepthiskumar, @ghost-not-in-the-shell

temp
  src/app/cli/src/transaction_snark_profiler.ml
  src/lib/blockchain_snark/blockchain_snark_state.ml
  src/lib/coda_base/account.ml
  src/lib/coda_base/coinbase.ml
  src/lib/coda_base/coinbase.mli
  src/lib/coda_base/pending_coinbase.ml
  src/lib/coda_base/pending_coinbase_intf.ml
  src/lib/coda_base/sparse_ledger.ml
  src/lib/coda_base/state_body_hash.ml
  src/lib/coda_base/state_body_hash.mli
  src/lib/coda_base/state_hash.ml
  src/lib/coda_base/state_hash.mli
  src/lib/coda_base/transaction_logic.ml
  src/lib/coda_base/transaction_union.ml
  src/lib/coda_base/transaction_union_payload.ml
  src/lib/coda_intf/tmp_test_stub_hack.ml
  src/lib/staged_ledger/pre_diff_info.ml
  src/lib/staged_ledger/staged_ledger.ml
  src/lib/transaction_snark/transaction_snark.ml
Owners: @cmr, @nholland94, @bkase, @imeckler, @deepthiskumar

temp
  src/lib/blockchain_snark/blockchain_snark_state.ml
  src/lib/coda_base/hash_prefix.mli
  src/lib/coda_base/pending_coinbase.ml
  src/lib/coda_base/pending_coinbase_intf.ml
  src/lib/coda_state/snark_transition.ml
  src/lib/coda_state/snark_transition.mli
  src/lib/transaction_snark/transaction_snark.ml
Owners: @nholland94, @bkase, @cmr, @deepthiskumar

temp
  src/lib/coda_base/hash_prefix.ml
  src/lib/coda_base/hash_prefix.mli
  src/lib/coda_base/pending_coinbase.ml
  src/lib/coda_base/pending_coinbase_intf.ml
  src/lib/hash_prefixes/hash_prefixes.ml
Owners: @cmr, @nholland94, @bkase, @rbkhmrcr, @vanishreerao

temp
  src/lib/coda_base/pending_coinbase.ml
  src/lib/coda_base/pending_coinbase_intf.ml
  src/lib/consensus/intf.ml
  src/lib/proposer/proposer.ml
Owners: @cmr, @nholland94, @bkase

Refuse to build if missing working proving keys
  .circleci/config.yml
  .circleci/config.yml.jinja
  src/lib/blockchain_snark/blockchain_transition.ml
  src/lib/coda_base/ci_die.ml
  src/lib/transaction_snark/transaction_snark.ml
Owners: @jkrauska, @bkase, @nholland94, @cmr, @deepthiskumar

reformat
  src/lib/blockchain_snark/blockchain_transition.ml
  src/lib/transaction_snark/transaction_snark.ml
Owners: @nholland94, @bkase, @deepthiskumar

temp
  src/lib/coda_base/pending_coinbase.ml
Owners: @cmr, @nholland94, @bkase

temp
  src/lib/coda_base/pending_coinbase.ml
Owners: @cmr, @nholland94, @bkase

temp
  src/lib/coda_base/pending_coinbase.ml
Owners: @cmr, @nholland94, @bkase

Set of disconnected peers
  src/lib/gossip_net/gossip_net.ml
Owners: @cmr

connect to disconnected peer marks all disconnected as peers
  src/lib/gossip_net/gossip_net.ml
Owners: @cmr

only test threshold equality
  src/lib/gossip_net/gossip_net.ml
Owners: @cmr

restart Kademlia on unmark disconnected peers
  src/lib/gossip_net/gossip_net.ml
Owners: @cmr

combinatory cleanup
  src/lib/gossip_net/gossip_net.ml
Owners: @cmr

set of disconnected peers
  src/lib/gossip_net/gossip_net.ml
Owners: @cmr

retry disconnected peer thread
  src/lib/gossip_net/gossip_net.ml
Owners: @cmr

clear disconnect set when enough peers
  src/lib/gossip_net/gossip_net.ml
Owners: @cmr

result Deferred.t for get_socket_reader_writer
  src/lib/gossip_net/gossip_net.ml
Owners: @cmr

Improve formatting of coda client status
  src/lib/consensus/proof_of_stake.ml
  src/lib/daemon_rpcs/daemon_rpcs.ml
Owners: @nholland94, @johnwu93, @bkase

Use digest_entries to format
  src/lib/daemon_rpcs/daemon_rpcs.ml
Owners: @johnwu93, @bkase

Clean up consensus formatting
  src/lib/consensus/proof_of_stake.ml
  src/lib/daemon_rpcs/daemon_rpcs.ml
Owners: @nholland94, @johnwu93, @bkase

Reformat client status lists
  src/lib/daemon_rpcs/daemon_rpcs.ml
Owners: @johnwu93, @bkase

CODEOWNERS:

/src/ @imeckler
/CODEOWNERS @imeckler @bkase
/frontend/ @schmavery @bkase @figitaki
/dockerfiles/ @jkrauska
/rfcs/ @imeckler @es92 @bkase
/docs/ @rbkhmrcr @imeckler @bkase @nholland94 @cmr @o1pranay
/scripts/ @nholland94 @jkrauska @cmr
/Makefile @jkrauska
/src/config/ @imeckler @nholland94
/CODE_OF_CONDUCT.md @imeckler @cmr
/CONTRIBUTING.md @imeckler @cmr
/DIRECTORY_STRUCTURE.md @imeckler @jkrauska
/LICENSE @imeckler
/README.md @cmr @imeckler @o1pranay
/README-dev.md @cmr @imeckler @o1pranay
/azure-pipelines.yml @jkrauska
/.circleci @jkrauska @bkase

/src/app/cli/ @cmr @nholland94 @bkase
/src/app/kademlia-haskell/ @bkase @enolan
/src/app/lite/ @cmr @bkase
/src/app/logproc/ @nholland94
/src/app/reformat/ @bkase
/src/app/testone/ @johnwu93
/src/app/trace-tool/ @cmr
/src/app/website/ @bkase @schmavery @figitaki

/src/lib/base58_check/ @psteckler @cmr
/src/lib/bignum_bigint/ @nholland94 @bkase
/src/lib/blake2/ @rbkhmrcr @vanishreerao
/src/lib/blockchain_snark/ @nholland94 @bkase
/src/lib/bootstrap_controller/ @nholland94 @johnwu93
/src/lib/cache_dir/ @cmr
/src/lib/cache_lib/ @nholland94
/src/lib/chunked_triples/ @psteckler @rbkhmrcr @vanishreerao
/src/lib/cli_lib/ @johnwu93
/src/lib/coda_base/ @cmr @nholland94 @bkase
/src/lib/coda_compile_config/ @nholland94
/src/lib/coda_debug/ @nholland94
/src/lib/coda_networking/ @cmr
/src/lib/coda_numbers/ @bkase @nholland94
/src/lib/coda_state/ @nholland94
/src/lib/coda_transition/ @nholland94
/src/lib/coda_version/ @nholland94 @cmr
/src/lib/codable/ @johnwu93 @bkase
/src/lib/consensus/ @nholland94
/src/lib/crs/ @rbkhmrcr @vanishreerao
/src/lib/crypto_params/ @rbkhmrcr @vanishreerao
/src/lib/currency/ @bkase @nholland94
/src/lib/daemon_rpcs/ @johnwu93 @bkase
/src/lib/debug_assert/ @nholland94 @bkase @cmr
/src/lib/direction/ @cmr
/src/lib/distributed_dsl/ @bkase
/src/lib/dummy_values/ @bkase
/src/lib/dyn_array/ @johnwu93
/src/lib/empty_hashes/ @johnwu93
/src/lib/envelope/ @psteckler @cmr
/src/lib/file_system/ @johnwu93 @bkase
/src/lib/genesis_ledger/ @nholland94 @bkase @cmr
/src/lib/global_signer_private_key/ @nholland94
/src/lib/gossip_net/ @cmr
/src/lib/group_map/ @rbkhmrcr @vanishreerao
/src/lib/hash_prefixes/ @rbkhmrcr @vanishreerao
/src/lib/immutable_array/ @nholland94
/src/lib/interruptible/ @bkase
/src/lib/kademlia @bkase @cmr @enolan
/src/lib/key_value_database/ @johnwu93 @bkase
/src/lib/keys_lib/ @cmr
/src/lib/ledger_catchup/ @nholland94 @johnwu93
/src/lib/ledger_proof/ @nholland94
/src/lib/linked_tree/ @cmr
/src/lib/lite_base/ @bkase @cmr
/src/lib/lite_lib/ @bkase @cmr
/src/lib/lite_params/ @rbkhmrcr @vanishreerao
/src/lib/logger/ @nholland94
/src/lib/merkle_address/ @cmr @bkase @nholland94 @johnwu93
/src/lib/merkle_ledger/ @cmr @nholland94
/src/lib/merkle_list/ @johnwu93 @cmr
/src/lib/merkle_mask/ @nholland94 @psteckler
/src/lib/module_version/ @psteckler @mrmr1993
/src/lib/network_peer/ @nholland94 @cmr
/src/lib/network_pool/ @enolan
/src/lib/non_empty_list/ @bkase
/src/lib/non_zero_curve_point/ @rbkhmrcr @vanishreerao
/src/lib/o1trace/ @cmr
/src/lib/otp_lib/ @nholland94
/src/lib/outside_pedersen_image/ @rbkhmrcr @vanishreerao
/src/lib/parallel/ @bkase
/src/lib/parallel_scan/ @deepthiskumar @bkase
/src/lib/pedersen_lib/ @cmr
/src/lib/perf_histograms/ @bkase
/src/lib/pipe_lib/ @nholland94
/src/lib/pokolog/ @bkase @vanishreerao @rbkhmrcr
/src/lib/ppx_coda/ @psteckler @mrmr1993
/src/lib/ppx_util/ @mrmr1993
/src/lib/precomputed_values/ @cmr @bkase
/src/lib/proof_carrying_data/ @psteckler @bkase
/src/lib/proposer/ @nholland94 @cmr
/src/lib/prover/ @nholland94 @bkase
/src/lib/quickcheck_lib/ @nholland94 @ghost-not-in-the-shell
/src/lib/random_oracle/ @cmr
/src/lib/rc_pool/ @nholland94 @cmr
/src/lib/receipt_chain_database_lib/ @johnwu93
/src/lib/rocksdb/ @psteckler @nholland94
/src/lib/root_history/ @cmr
/src/lib/root_prover/ @johnwu93 @bkase
/src/lib/rose_tree/ @bkase @nholland94
/src/lib/secrets/ @cmr
/src/lib/sgn/ @deepthiskumar @bkase
/src/lib/sgn_type/ @deepthiskumar @bkase
/src/lib/sha256_lib/ @rbkhmrcr @vanishreerao
/src/lib/signature_lib/ @rbkhmrcr @vanishreerao
/src/lib/snark_bits/ @bkase
/src/lib/snark_work_lib/ @deepthiskumar
/src/lib/snark_worker/ @cmr @nholland94
/src/lib/snarkette/ @bkase
# /src/lib/snarky (submodule!)
/src/lib/snarky_blake2/ @rbkhmrcr @vanishreerao
/src/lib/snarky_curves/ @rbkhmrcr @vanishreerao
/src/lib/snarky_field_extensions/ @bkase @rbkhmrcr @vanishreerao
/src/lib/snarky_group_map/ @rbkhmrcr @vanishreerao
/src/lib/snarky_log/ @rbkhmrcr @vanishreerao
/src/lib/snarky_pairing/ @rbkhmrcr @vanishreerao
/src/lib/snarky_taylor/ @bkase @cmr @mrmr1993
/src/lib/snarky_verifier/ @bkase @mrmr1993
/src/lib/sparse_ledger_lib/ @bkase
/src/lib/staged_ledger/ @deepthiskumar @cmr
/src/lib/staged_ledger_diff/ @deepthiskumar @cmr
/src/lib/storage/ @bkase
/src/lib/sync_handler/ @cmr
/src/lib/sync_status/ @johnwu93
/src/lib/syncable_ledger/ @cmr @enolan
/src/lib/test_util/ @nholland94
/src/lib/time_simulator/ @bkase
/src/lib/auxiliary_database/ @johnwu93 @bkase
/src/lib/transaction_snark/ @deepthiskumar @bkase
/src/lib/transaction_snark_scan_state/ @deepthiskumar
/src/lib/transaction_snark_work/ @deepthiskumar
/src/lib/transition_frontier/ @nholland94
/src/lib/transition_frontier_controller/ @nholland94
/src/lib/transition_frontier_controller_tests/ @nholland94 @johnwu93
/src/lib/transition_frontier_persistence/ @nholland94
/src/lib/transition_handler/ @nholland94
/src/lib/transition_router/ @nholland94
/src/lib/trust_system/ @enolan
/src/lib/truth/ @nholland94
/src/lib/unix_timestamp/ @nholland94
/src/lib/unsigned_extended/ @bkase
/src/lib/visualization/ @johnwu93
/src/lib/vrf_lib/ @nholland94
/src/lib/web_client_pipe/ @johnwu93 @bkase
/src/lib/web_request/ @johnwu93 @bkase
/src/lib/webkit_trace_event/ @mrmr1993 @cmr
/src/lib/with_hash/ @bkase @nholland94 @cmr
/src/lib/work_selector/ @deepthiskumar
